<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit Profile', edit_user_path(@user) %> 

<% @user.charts.each do |c| %>
	<div><%= link_to c.name, chart_path(c) %></div>
<% end %>
