<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chart.name %>
  Ingredients
  <% @chart.ingredients.each do |i| %>
  	<div><%= i.name %></div>
  <% end %>
</p>

<%= link_to 'Edit', edit_chart_path(@chart) %> |
<%= link_to 'Back', charts_path %>


<%= form_for(@ingredient) do |f| %>
  <% if @ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% @ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <%= f.hidden_field :chart_id, :value => params[:id] %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

