<p id="notice"><%= notice %></p>

<% if @ingredient.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @ingredient.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @chart.name %><br>
  <strong>THIS IS ROOT</strong>
  <%= @root.name %><br>
</p>

<%= link_to 'Edit', edit_chart_path(@chart) %> |
<%= link_to 'Back', charts_path %>

<h4>BEGIN ANGULAR BELOW</h4>


<div ng-app="ChartApp">

  <div ng-controller="filterCtrl">
     
  </div>

  <div ng-controller="chartCtrl">
      <tree-chart data="data" diameter="960"></tree-chart>
  </div>

  <div ng-controller="panelCtrl">
      <div id="panel">
          <div ng-if="detail">
              <div class="details panel panel-info">
                  <div class="panel-heading">{{ node.name }}</div>
                  <div class="panel-body">

                      <div class="comments panel panel-default" ng-if="node.comments">
                          <div class="panel-body">{{ node.comments }}</div>
                      </div>

                      <div class="properties" ng-if="node.details.Dependencies">
                          <h5>Depends on</h5>
                          <ul>
                              <li ng-repeat="dependency in node.details.Dependencies">
                                  {{ dependency }}
                              </li>
                          </ul>
                      </div>

                      <div class="properties" ng-if="node.details.Dependents">
                          <h5>Dependendents</h5>
                          <ul>
                              <li ng-repeat="dependent in node.details.Dependents">
                                  {{ dependent }}
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>

          <div ng-if="edit">
             <form name="editForm" ng-submit="editNode(editForm, $event)">
                 <div class="details panel panel-info">
                     <div class="panel-heading">
                         <input type="text" ng-model="node.name" class="form-control"/>
                     </div>
                     <div class="panel-body">
                         <div class="url">
                             <h5>Url</h5>
                             <input type="text" ng-model="node.url" class="form-control" init-focus />
                         </div>

                         <div class="comments">
                             <h5>Comments</h5>
                             <textarea ng-model="node.comments" class="form-control" init-focus></textarea>
                         </div>

                         <div class="properties edit">
                             <h5>Depends on <span class="glyphicon glyphicon-plus" ng-click="addDependency()"></span></h5>
                             <ul>
                                 <li ng-repeat="dependencies in node.dependsOn track by $index">
                                     <input type="text" ng-model="node.dependsOn[$index]" init-focus /> <span class="remove glyphicon glyphicon-remove" ng-click="deleteDependency($index)"></span>
                                 </li>
                             </ul>
                         </div>
                     </div>
                     <div class="panel-action">
                         <button type="button" ng-click="addNode()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add</button>
                         <button type="button" ng-click="moveNode()" class="btn btn-default"><span class="glyphicon glyphicon-share-alt"></span> Move</button>
                         <button type="button" ng-click="deleteNode()" class="btn btn-warning"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                     </div>
                     <div class="panel-action">
                         <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Save</button>
                         <button type="button" ng-click="leaveEdit()" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                     </div>
                 </div>
             </form>
          </div>
      </div>
  </div>




  <!-- START CUSTOM -->
  <div ng-controller="ChartCtrl">

  <div class="col-xs-4">
      <h4>BUILD FORM</h4>
      <div>
        <label>layer 1</label>
        <input type="text" ng-model="rec.one" typeahead="name for name in current_chart.layer_1_names | filter:$viewValue | limitTo:8" class="form-control">
        <label>layer 2</label>
        <input type="text" ng-model="rec.two" typeahead="name for name in current_chart.layer_2_names | filter:$viewValue | limitTo:8" class="form-control">
        <label>layer 3</label>
        <input type="text" ng-model="rec.three" typeahead="name for name in current_chart.layer_3_names | filter:$viewValue | limitTo:8" class="form-control">
        <label>layer 4</label>
        <input type="text" ng-model="rec.four" typeahead="name for name in current_chart.layer_4_names | filter:$viewValue | limitTo:8" class="form-control">
        <label>layer 5</label>
        <input type="text" ng-model="rec.five" typeahead="name for name in current_chart.layer_5_names | filter:$viewValue | limitTo:8" class="form-control">
        <label>layer 6</label>
        <input type="text" ng-model="rec.six" typeahead="name for name in current_chart.layer_6_names | filter:$viewValue | limitTo:8" class="form-control">
        <input type="submit" value="Submit" class="button" ng-click="new_recipe(rec, $event)">
      </div>      
  </div>


    <!-- SEARCH ENTIRE NAMES ARRAY, NEED TO BIND TO SVG -->
    <div>
      Search: <input type="text" ng-model="search_key"/>
    </div>  
    <div ng-repeat="child in current_chart.allchild | filter: search_key ">
      <div>
        {{ child }}
      </div>
    </div>
    <h4>NEW CHART?</h4>
    <div id="graph">
    </div>
    <h3>END SEARCH LOOP</h3>


   <!--  <div ng-repeat="child in current_chart.children">
      {{ child.name }}
    </div> -->

<!--     CHECK LAYER LOOP
    <p>
      <h3>LAYERS</h3>
      <h2>one</h2>
      {{ current_chart.layer_1 }}
      <hr>
      <h2>two</h2>
      {{ current_chart.layer_2 }}
      <hr>
      <h2>three</h2>
      {{ current_chart.layer_3 }}
      <h2>four</h2>
      {{ current_chart.layer_4 }}
      <h2>five</h2>
      {{ current_chart.layer_5 }}
      <h2>six</h2>
      {{ current_chart.layer_6 }}
    </p>
    END CHECK LAYER LOOP -->
    
<!--     CHECK ALL CHILDREN
    <h2>ALL CHILDREN</h2>
    {{ current_chart.allchild }}
    END CHECK ALL CHILDREN -->




<!--         TRIAL FORM START
        <form name="ingredient_form" class="row">
          <div class="small-9 columns">
            <label>Base?</label>
            <input type="text" name="rec_trans_num" ng-model="current_chart.children" >
          </div>
          <div class="small-9 columns">
            <label>2nd Level</label>
            <input type="text" name="rec_payment" ng-model="current_chart.layer_1">
          </div>
          <div class="small-9 columns">
            <label>3rd Level</label>
            <input type="text" name="rec_amount" ng-model="current_chart.layer_2">
          </div>
          <div class="small-9 columns">
            <label>4th Level</label>
            <input type="text" name="rec_tip" ng-model="current_chart.layer_3">
          </div>
          <div class="small-9 columns">
            <label>5th Level</label>
            <input type="text" name="rec_total" ng-model="current_chart.layer_4">
          </div>
          <div class="small-9 columns">
            <label>6th Level</label>
            <input type="text" name="rec_total" ng-model="current_chart.layer_5">
          </div>
          <hr>
          <div class="row">
            <input type="submit" value="Submit" class="button small-3 small-offset-4 medium-3 large-4 columns" ng-click="new_receipt(receipt, $event); receipt_modal=false">
          </div>
        </form>
        TRIAL FORM END -->

<!--         ANOTHER TRIAL START
        <button type="button" ng-click="top=true" ng-hide="startedIng" ng-click="startedIng=true">Start Process</button>
        <div>
          <input type="text" ng-click="startedIng=true" placeholder="base ing" ng-model="current_chart.children">
          SUBMIT FIRST
          <button type="button" ng-click="top=false" ng-model="current_chart.children.children">onTo2nd</button><br>

          <input type="text" placeholder="2nd ing" />
          <button type="button" ng-click="onTo3rd">onTo3rd</button><br>

          <input type="text" placeholder="3rd ing" />
          <button type="button" ng-click="">onTo4th</button><br>
        </div>
        ANOTHER TRIAL END -->


    <%= form_for(@ingredient) do |f| %>
          <% if @ingredient.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

              <ul>
              <% @ingredient.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>       


      <div id="ingredient_menu">
        <h3>ADD A BASE INGREDIENT</h3>
        <div id="base_ingredient" class="field" ng-show="base" ng-hide="ing_2">
          <%= f.label :name %><br>
          <%= f.text_field :name, id: "ingredient_field" %>
          <%= f.hidden_field :chart_id, :value => params[:id] %>
          <%= f.submit  class: "btn btn-primary", id: "add_ingredient_btn"%>
        </div>
        <div id="2nd_ingredient" class="field" ng-hide="ing_2">
          <%= f.label :name %><br>
          <%= f.text_field :name, id: "ingredient_field" %>
          <%= f.hidden_field :chart_id, :value => params[:id] %>
          <%= f.submit  class: "btn btn-primary", id: "add_ingredient_btn"%>
        </div> 
      </div>


    <% end %>

    <%= javascript_include_tag "charts", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "chart_ctrl", "data-turbolinks-track" => true %>
    









  </div>
  <!-- END ChartCtrl -->
</div>
<!-- END ChartApp -->

<!-- FILTER START -->
<div class="filters panel panel-default">
  <div class="panel-heading">Search</div>
  <div class="panel-body">
    <form id="filter_form">
      <input name="name" type="text" class="form-control" placeholder="Filter by name" ng-model="$parent.nameFilter"/>
    </form>
  </div>
</div>
<!-- FILTER END -->






