<p id="notice"><%= notice %></p>

<% if @ingredient.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @ingredient.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@ingredient) do |f| %>
      <% if @ingredient.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

          <ul>
          <% @ingredient.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>       
<% end %>

<p>
  <strong>Name:</strong>
  <%= @chart.name %><br>
  <strong>THIS IS ROOT</strong>
  <%= @root.name %><br>
</p>

<div ng-app="ChartApp">
  <div id="chart_container" class="col-xs-8">
    <div ng-controller="chartCtrl">
        <tree-chart data="data" diameter="960"></tree-chart>
    </div>
  </div>
  
  <!-- START CUSTOM -->
  <div ng-controller="ChartCtrl">

    <div id="edit_recipe_div" ng-show="edit_show">
      <form>
        <input type="text" id="delete_input_id" class="ninja">
        <div>
          <button type="button" id="delete_input_submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Delete
          </button>
        </div>
      </form>

      <form>
        <div class="row mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
          <input type="text" id="edit_input" class="mdl-textfield__input" >
          <label class="mdl-textfield__label" for="sample4">Edit Ingredient:</label>
        </div>
        <input type="text" id="edit_input_id" class="ninja">
        <div>
          <button type="button" id="edit_input_submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Edit
          </button>
        </div>
      </form>
    </div>

    <div id="demo"></div>
    <div id="demo2"></div>

  <div ng-hide="edit_show" ng-hide="remove_add_button">
    <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="remove_add_button=true" ng-hide="remove_add_button">
      Add a new recipe
    </button>
  </div>

  <div ng-click="edit_show=true" ng-hide="remove_add_button">
    <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="add_new_rec_form=true">
      Edit/Delete
    </button>
  </div>


  <div class="col-xs-4" ng-show="add_new_rec_form" ng-hide="edit_show">
      <div>
        <div class="row mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
          <input type="text" class="mdl-textfield__input" ng-model="rec.one" typeahead="name for name in current_chart.layer_1_names | filter:$viewValue | limitTo:8" >
          <label class="mdl-textfield__label" for="sample4">Base Ingredient:</label>
        </div>

        <div class="row mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
          <input type="text" class="mdl-textfield__input" ng-model="rec.two" typeahead="name for name in current_chart.layer_2_names | filter:$viewValue | limitTo:8" >
          <label class="mdl-textfield__label" for="sample4">Ingredient 2...</label>
        </div>

        <div class="row mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
          <input type="text" class="mdl-textfield__input" ng-model="rec.three" typeahead="name for name in current_chart.layer_3_names | filter:$viewValue | limitTo:8" >
          <label class="mdl-textfield__label" for="sample4">Ingredient 3...</label>
        </div>

        <div class="row mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
          <input type="text" class="mdl-textfield__input" ng-model="rec.four" typeahead="name for name in current_chart.layer_4_names | filter:$viewValue | limitTo:8" >
          <label class="mdl-textfield__label" for="sample4">Ingredient 4...</label>
        </div>

        <div class="row mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
          <input type="text" class="mdl-textfield__input" ng-model="rec.five" typeahead="name for name in current_chart.layer_5_names | filter:$viewValue | limitTo:8" >
          <label class="mdl-textfield__label" for="sample4">Ingredient 5...</label>
        </div>

        <div class="row mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
          <input type="text" class="mdl-textfield__input" ng-model="rec.six" typeahead="name for name in current_chart.layer_6_names | filter:$viewValue | limitTo:8" >
          <label class="mdl-textfield__label" for="sample4">Ingredient 6...</label>
        </div>

        <!-- Flat button with ripple -->
        <div>
          <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="new_recipe(rec, $event)">
            Submit
          </button>
        </div>

      </div>      
  </div>

    <!-- SEARCH ENTIRE NAMES ARRAY, NEED TO BIND TO SVG -->

    <button ng-click="show_search=true">
      Search:
    </button>
    <div ng-show="show_search">
      Search: <input type="text" ng-model="search_key"/>
    </div>  
    <div ng-repeat="child in current_chart.allchild | filter: search_key ">
      <div>
        {{ child }}
      </div>
    </div>


  </div>
  <!-- END ChartCtrl -->
</div>
<!-- END ChartApp -->








