

<% if @ingredient.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @ingredient.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@ingredient) do |f| %>
      <% if @ingredient.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

          <ul>
          <% @ingredient.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>       
<% end %>

<div ng-app="ChartApp">
  
  
  <!-- START CUSTOM -->
  <div ng-controller="ChartCtrl">

  <!-- HOVER FIELD -->
  <div id="demo" class="row">
    <span id="demo_input" class="mdl-textfield__input" >&nbsp;</span>
  </div>


  <!-- SEARCH ENTIRE NAMES ARRAY, NEED TO BIND TO SVG -->
<!--   <button ng-click="show_search=true">
    Search:
  </button>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo"  ng-show="show_search">
    Search: <input type="text" class="mdl-textfield__input" ng-model="search_key"/>
  </div>  
  <div ng-repeat="child in current_chart.allchild | filter: search_key ">
    <div>
      {{ child }}
    </div>
  </div> -->


    <div id="edit_recipe_div" class="ninja row">
      <form id="save_button">
        <div class="row mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
          <label class="mdl-textfield__label" for="sample4">Edit Ingredient:</label><br>
          <input type="text" id="edit_input" class="mdl-textfield__input" >
        </div>
        <input type="text" id="edit_input_id" class="ninja">  
          <button type="button" id="edit_input_submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Save
          </button>
      </form>
      <form id="delete_button">
        <input type="text" id="delete_input_id" class="ninja">
          <button type="button" id="delete_input_submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Delete
          </button>
      </form>
    </div>

<div class="row">
      <div id="new_recipe_modal" class="modal fade in">
            <div class="modal-dialog">
                <div class="modal-content">              
                 
                      <div class="modal-body">
                        <div class="row" id="close">
                          <a class="btn btn-default" data-dismiss="modal"><span>X</span></a>
                        </div>
                      <!-- CONT1 -->
                        <div class="row mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo limit" ng-hide="cont1">
                          <input type="text" class="mdl-textfield__input" ng-model="rec.one" typeahead="name for name in current_chart.layer_1_names | filter:$viewValue | limitTo:8" >
                          <label class="mdl-textfield__label" for="sample4">Base Ingredient:</label>
                        </div>
                        <a ng-click="cont1=true;cont2=true" ng-hide="cont1" class="adds btn btn-default" style="display:inline"><span>Add another ingredient</span></a>
                      <!-- END CONT1 -->

                      <!-- CONT2 -->
                        <div class="row mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" ng-show="cont2">
                          <input type="text" class="mdl-textfield__input" ng-model="rec.two" typeahead="name for name in current_chart.layer_2_names | filter:$viewValue | limitTo:8" >
                          <label class="mdl-textfield__label" for="sample4">Ingredient 2...</label>
                        </div>

                        <a ng-click="cont3=true;cont2=false" ng-show="cont2" class="adds btn btn-default"><span>Add another ingredient</span></a>

                        <a ng-click="cont2=false;finish2=true;submit=true" ng-show="cont2" class="adds btn btn-default" style="display:block"><span>Name & Submit </span></a>
                      <!-- END CONT2 -->




                      <!-- CONT3 -->
                        <div class="row mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" ng-show="cont3">
                          <input type="text" class="mdl-textfield__input" ng-model="rec.three" typeahead="name for name in current_chart.layer_3_names | filter:$viewValue | limitTo:8" >
                          <label class="mdl-textfield__label" for="sample4">Ingredient 3...</label>
                        </div>

                        <a ng-click="cont4=true;cont3=false" ng-show="cont3" class="adds btn btn-default"><span>Add another ingredient</span></a>

                        <a ng-click="cont3=false;finish3=true;submit=true" ng-show="cont3" class="adds btn btn-default" style="display:block"><span>Name & Submit </span></a>
                      <!-- END CONT3 -->


                      <!-- CONT4 -->
                        <div class="row mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" ng-show="cont4">
                          <input type="text" class="mdl-textfield__input" ng-model="rec.four" typeahead="name for name in current_chart.layer_4_names | filter:$viewValue | limitTo:8" >
                          <label class="mdl-textfield__label" for="sample4">Ingredient 4...</label>
                        </div>

                        <a ng-click="cont5=true;cont4=false" ng-show="cont4" class="adds btn btn-default"><span>Add another ingredient</span></a>

                        <a ng-click="cont4=false;finish4=true;submit=true" ng-show="cont4" class="adds btn btn-default" style="display:block"><span>Name & Submit </span></a>
                      <!-- END CONT4 -->


                      <!-- CONT5 -->
                        <div class="row mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" ng-show="cont5">
                          <input type="text" class="mdl-textfield__input" ng-model="rec.five" typeahead="name for name in current_chart.layer_5_names | filter:$viewValue | limitTo:8" >
                          <label class="mdl-textfield__label" for="sample4">Ingredient 5...</label>
                        </div>

                        <a ng-click="cont5=false;finish5=true;submit=true" ng-show="cont5" class="adds btn btn-default" style="display:block"><span>Name & Submit </span></a>



                        <div class="form-group" ng-show="finish2">
                          <input type="text" class="form-control" placeholder="Name:" ng-model="rec.eight" typeahead="name for name in current_chart.layer_6_names | filter:$viewValue | limitTo:8" >
                            <textarea class="form-control" rows="3" maxrows="10" ng-model="rec.meas_three" placeholder="Recipe:"></textarea>
                        </div>

                        <div class="form-group" ng-show="finish3">
                          <input type="text" class="form-control" placeholder="Name:" ng-model="rec.nine" typeahead="name for name in current_chart.layer_6_names | filter:$viewValue | limitTo:8" >
                            <textarea class="form-control" type="text" rows="4" maxrows="10" ng-model="rec.meas_four" placeholder="Recipe:"></textarea>
                        </div>

                        <div class="form-group" ng-show="finish4">
                          <input type="text" class="form-control" placeholder="Name:" ng-model="rec.ten" typeahead="name for name in current_chart.layer_6_names | filter:$viewValue | limitTo:8" >
                            <textarea class="form-control" type="text" rows="5" maxrows="10" ng-model="rec.meas_five" placeholder="Recipe:"></textarea>
                        </div>

                        <div class="form-group" ng-show="finish5">
                          <input type="text" class="form-control" placeholder="Name:" ng-model="rec.eleven" typeahead="name for name in current_chart.layer_6_names | filter:$viewValue | limitTo:8" >
                            <textarea class="form-control" type="text" rows="6" maxrows="10" ng-model="rec.meas_six" placeholder="Recipe:"></textarea>
                        </div>

                        <!-- Flat button with ripple -->
                        <div>
                          <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-show="submit" ng-click="new_recipe(rec, $event)">
                            Submit
                          </button>
                        </div>

                      </div>    
          
                    
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dalog -->
      </div><!-- /.modal -->   
</div>

  

    

    <!-- DETAIL MODAL -->
      <div class="row">
      <div id="detail_modal" class="modal fade in">
            <div class="modal-dialog">
                <div class="modal-content">
     
                    <div class="modal-header">
                        <a class="btn btn-default" data-dismiss="modal"><span>X</span></a>
                        <h4 id="modal_title" class="modal-title">Modal Heading</h4>
                    </div>
                    <div id="modal_body" class="modal-body">
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dalog -->
        </div><!-- /.modal -->   
      </div>
    <!-- END DETAIL MODAL -->
   
  </div>
  <!-- END ChartCtrl -->

  <!-- START SVG -->
  <div id="chart_container" class="row ninja">
    <div ng-controller="chartCtrl">
        <tree-chart data="data" diameter="960"></tree-chart>
    </div>
  </div>
  <!-- END SVG -->


</div>
<!-- END ChartApp -->








